.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #F6F6F6;
  .center-wrap {
    width: 500px;
    .title {
      font-size: 80px;
      text-align: center;
      color: #BC3B4C;
    }
    .content-wrap {
      position: relative;
      z-index: 1;
      box-shadow: 0 0 10px #6d6d6d;
      background-color: #fff;
    }
  }
}